






body {background:url("../design/bg.gif") 0 0 repeat-x; font:0.8em/1.5 "arial", sans-serif;}

h1, h2, h3, h4, h5, h6, p, address, blockquote, table, dl, fieldset {margin:10px 0;}



/* ----------------------------------------------------------------------------------------------------------
1) Layout
---------------------------------------------------------------------------------------------------------- */

#main {width:960px; margin:0 auto;
}

    

    

/* ----------------------------------------------------------------------------------------------------------
2) Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#col-top {width:960px; height:100px; margin-top:15px; background:url("../design/col-top.gif") 0 0 no-repeat; font-size:0; line-height:0; overflow:hidden;}

#col {position:absolute;

 padding:50px 50px 50px 50px;
 background:url("../design/col.gif") 0 0 repeat-y;
width: 30%;
height: 280px;
left: 30%;
margin-bottom: 100px;
bottom: 20px;}

    

    

    

        





    .col {float:left; width:308px; padding:0 1px; margin-right:15px;}
    .col.last {margin-right:0;}
    .col h3 {margin:0; padding:7px 15px 12px 50px; background:url("../design/cols3-title.gif") 20px 40% no-repeat; font-size:120%;}

        .col-text {padding:20px; border-top:1px solid #DFDFDF;}
        .col-text p {margin:0;}
        .col-text ul {margin-bottom:0;}
        .col-more {padding:10px 10px 1px 0; text-align:right;}

        .imagenjuego{
  width: 275Px;
  height: 130px;
  margin: 6px;
}
table.tablaJuegos



td.tablaJuegos{
    margin: 5px;

}

/* ----------------------------------------------------------------------------------------------------------
3) Others
---------------------------------------------------------------------------------------------------------- */



#marco{
    position: relative;
    line-height: 0px;
    font-size: 40px;
    font-variant: small-caps;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

